body {
	/* TODO #6: Let's add a background-color that will be used outside of the main content area.
	You can set the value a few different ways.
	With predefined constants (https://www.w3schools.com/colors/colors_names.asp)
		background-color: darkgreen;  
	Their hex value
		background-color: #006400;
	And shorthand where each character is actually used twice. So below would be equal to #006600
		background-color: #060;
	*/	
}

h1 {
	font-size: 18pt;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size: 14pt;
	font-style: italic;
}

img {
	margin: 10px;	
}

/*
TODO #7: We've decided that the 2 paragraphs on the screen are actually going to be short articles/updates.
We'd like to see them side-by-side. There's a property called float that can take the values of either 
left or right. The elements will start on one of those sides and lay down like tiles as long as there's space for it.
If there's too little space remaining to fit the next element, it'll go down and then continue;

You can add either float: left or float: right. Can you see the difference between the two? Try switching
it and refreshing the webpage.

In order to get them to display side-by-side, let's make the width of the section element 50%. 

Look for the final TODO #8 in demo.js
*/
section {
	box-sizing: border-box;
	padding: 15px 30px;
}

.inner-container {
	width: 60%;
	margin: 0px auto;
	background-color: white;
	border-radius: 25px;
	border: 1px solid black;
}

.header {
	text-align: center;
}

.name-title {
	font-weight: bold;
	font-size: 18pt;
}

.footer {
	clear: both;
	text-align: center;
	font-size: 8pt;
	padding: 5px;
}

