body {
	/* TODO #4: Let's add a background-color that will be used outside of the main content area.
	You can set the value a few different ways.
	With predefined constants (https://www.w3schools.com/colors/colors_names.asp)
		background-color: darkgreen;  
	Their hex value
		background-color: #006400;
	And shorthand where each character is actually used twice. So below would be equal to #006600
		background-color: #060;
	*/	
}

h1 {
	font-size: 18pt;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size: 14pt;
	font-style: italic;
}

img {
	margin: 10px;	
}

section {
	box-sizing: border-box;
	padding: 15px 30px;
}

.inner-container {
	width: 60%;
	margin: 0px auto;
	background-color: white;
	border-radius: 25px;
	border: 1px solid black;
}

.header {
	text-align: center;
}

/* TODO #5: set the font-style to italic*/
.name-title {
	font-weight: bold;
	font-size: 18pt;
}

.footer {
	clear: both;
	text-align: center;
	font-size: 8pt;
	padding: 5px;
}

